<section class="max-w-4xl mx-auto px-6 py-20" id="experience">
  <div class="mb-12 text-center">
    <h2 class="text-3xl font-bold mb-4">Work Experience</h2>
    <p class="text-slate-400">
      Professional journey across tech companies and startups.
    </p>
  </div>
  <div class="space-y-12">
    <!-- Exp 1 -->
    <div class="flex flex-col md:flex-row gap-6 md:gap-12 relative">
      <div class="md:w-1/4 text-slate-500 font-bold">
        September 2022 - February 2023
      </div>
      <div class="md:w-3/4 pb-12 border-l border-primary-500 pl-8 relative">
        <div
          class="absolute -left-1.25 top-1.5 w-2.25 h-2.25 bg-primary-500 rounded-full"
        >
        </div>
        <h3 class="text-xl font-bold">UI UX Designer (Internship)</h3>
        <p class="text-lg text-slate-300 mb-4">Jalin Mayantara Indonesia</p>
        <ul class="space-y-3 text-slate-400 list-inside list-disc">
          <li>
            Conducted user research and stakeholder interviews to gather
            insights for UI/UX design decisions.
          </li>
          <li>
            Created wireframes, prototypes, and high-fidelity designs using
            Figma to visualize and validate user flows.
          </li>
          <li>
            Collaborated with cross-functional teams to define features and
            translate them into intuitive user experiences.
          </li>
          <li>
            Developed and maintained design systems to ensure consistency and
            serve as guidelines for developers.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
