---

---

<footer class="py-10 border-t border-white/5 bg-secondary-950">
  <div
    class="max-w-6xl mx-auto px-6 flex flex-col md:flex-row justify-between items-center gap-6"
  >
    <div class="flex items-center gap-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6 text-white"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m6.75 7.5 3 2.25-3 2.25m4.5 0h3m-9 8.25h13.5A2.25 2.25 0 0 0 21 18V6a2.25 2.25 0 0 0-2.25-2.25H5.25A2.25 2.25 0 0 0 3 6v12a2.25 2.25 0 0 0 2.25 2.25Z"
        ></path>
      </svg>
      <span class="text-slate-500 text-sm"
        >© {new Date().getFullYear()} Zulkifli Portfolio. All rights reserved.</span
      >
    </div>
    <div class="flex gap-6 text-sm text-slate-500">
      <a class="hover:text-primary" href="#">LinkedIn</a>
      <a class="hover:text-primary" href="#">GitHub</a>
    </div>
  </div>
</footer>
