---
import Navigation from "./Navigation.astro";
---

<header
  class="sticky top-0 z-50 w-full px-6 py-4 backdrop-blur-md text-white bg-secondary-80 border-b border-primary-100"
>
  <div class="max-w-6xl mx-auto flex items-center justify-between">
    <div class="flex items-center gap-3">
      <div
        class="w-10 h-10 bg-primary-50 rounded-full flex items-center justify-center"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6 text-black"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m6.75 7.5 3 2.25-3 2.25m4.5 0h3m-9 8.25h13.5A2.25 2.25 0 0 0 21 18V6a2.25 2.25 0 0 0-2.25-2.25H5.25A2.25 2.25 0 0 0 3 6v12a2.25 2.25 0 0 0 2.25 2.25Z"
          ></path>
        </svg>
      </div>
      <h2 class="text-xl font-black tracking-tighter">
        ZULK<span class="text-primary-50">PORTO</span>
      </h2>
    </div>
    <Navigation />
    <button
      class="bg-primary-60 text-dark-90 px-6 py-2 rounded-full font-bold text-sm hover:shadow-[0_0_20px_rgba(56,224,123,0.4)] transition-all"
    >
      Hire Me
    </button>
  </div>
</header>
