<nav class="hidden md:flex items-center gap-8">
  <a
    class="text-sm font-medium hover:text-primary-50 transition-colors"
    href="#stack">Stack</a
  >
  <a
    class="text-sm font-medium hover:text-primary-50 transition-colors"
    href="#projects">Projects</a
  >
  <a
    class="text-sm font-medium hover:text-primary-50 transition-colors"
    href="#experience">Experience</a
  >
  <a
    class="text-sm font-medium hover:text-primary-50 transition-colors"
    href="#contact">Contact</a
  >
</nav>
