---
import CardProject from "./CardProject.astro";
---

<section class="bg-white/5 py-20" id="projects">
  <div class="max-w-6xl mx-auto px-6">
    <div class="flex justify-between items-end mb-12">
      <div>
        <h2 class="text-3xl font-bold mb-4">Featured Projects</h2>
        <p class="text-slate-400">
          A selection of my recent work in engineering and design.
        </p>
      </div>
      <a
        class="text-primary-500 font-bold hover:underline flex items-center gap-1"
        href="/project"
      >
        View All
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"
          ></path>
        </svg>
      </a>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <!-- Project 1 -->
      <CardProject
        imgSrc="https://lh3.googleusercontent.com/aida-public/AB6AXuBYOaRJ4qFOoMXfRhceXxnr7OjBSV9791yRa8sw2d-y0ME7VtIq3R4gWsc0HV2L41VfylypfIeYePFgq6_zABbmdaQVmYAl_1WTti7dubWP_EOYV_NxRDbLp09eUOQQCowNp9tBMaL45phqa3qKJKDpvpIykS0Ece-U48iZM2nOZLQm49pQCdcvKy5OgPqRzCZtyR2jNt6BX1Qv5NKfgebTeiH8QxLrvlyNTt3JI2zsFIK8Wgg_EBMHJhqtAffCzsNHx1aFzF_wZy_V"
        tag1="NEXT.JS"
        tag2="POSTGRES"
        tag3="TYPESCRIPT"
        name="Project 1"
        desc="Highly secure P2P communication protocol using end-to-end encryption with Zero-Knowledge proofs."
      />
      <!-- Project 2 -->
      <CardProject
        imgSrc="https://lh3.googleusercontent.com/aida-public/AB6AXuBYOaRJ4qFOoMXfRhceXxnr7OjBSV9791yRa8sw2d-y0ME7VtIq3R4gWsc0HV2L41VfylypfIeYePFgq6_zABbmdaQVmYAl_1WTti7dubWP_EOYV_NxRDbLp09eUOQQCowNp9tBMaL45phqa3qKJKDpvpIykS0Ece-U48iZM2nOZLQm49pQCdcvKy5OgPqRzCZtyR2jNt6BX1Qv5NKfgebTeiH8QxLrvlyNTt3JI2zsFIK8Wgg_EBMHJhqtAffCzsNHx1aFzF_wZy_V"
        tag1="NEXT.JS"
        tag2="POSTGRES"
        tag3="TYPESCRIPT"
        name="Project 2"
        desc="Highly secure P2P communication protocol using end-to-end encryption with Zero-Knowledge proofs."
      />
    </div>
  </div>
</section>
