---
import CardProject from "./CardProject.astro";
---

<section class="bg-white/5 py-20" id="projects">
  <div class="max-w-6xl mx-auto px-6">
    <div class="flex justify-between items-end mb-12">
      <div>
        <h2 class="text-3xl font-bold mb-4">Featured Projects</h2>
        <p class="text-slate-400">
          A selection of my recent work in engineering and design.
        </p>
      </div>
      <a
        class="text-primary-500 font-bold hover:underline flex items-center gap-1"
        href="/project"
      >
        View More
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"
          ></path>
        </svg>
      </a>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <!-- Project 1 -->
      <CardProject
        imgSrc="/projectImg/printForge.jpeg"
        tag1="NEXT.JS"
        tag2="TAILWIND"
        tag3="TYPESCRIPT"
        name="Print Forge 3D printing Website"
        desc="3D Printing website catalog"
        githubLink="https://github.com/Zulkifli70/next-project"
        ,
        liveDemo="https://next-project-eta-vert.vercel.app/"
        ,
      />
      <!-- Project 2 -->
      <CardProject
        imgSrc="/projectImg/PokemonMemoryGame.jpeg"
        tag1="REACT"
        tag2="TAILWIND"
        tag3="JAVASCRIPT"
        name="Pokemon Memory Game"
        desc="Card memory game that test your memorization skill"
        githubLink="https://github.com/Zulkifli70/memory-card-game"
        ,
        liveDemo="https://zulkmemorycard.netlify.app/"
        ,
      />
    </div>
  </div>
</section>
